* {
    margin: 0;
    padding: 0;
    //font-size: 16px;
}

body {
    width: 100vw;
    margin: 0;
}

.container {
    width: 1352px;
}

/*----------STYLING HEADER----------*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(149,152,154, .5);
    box-shadow: 0 3px 6px #95989A;
    position: sticky;
    top: 0;
    margin-bottom: 100px;
    z-index: 3;
    background-color: white;
}

div.logo, nav.menu {
    padding: 15px 150px;
}

h2.logo__text {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #08A6E4;
}

ul.main__menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li a {
    padding: 20px 13px;
    margin: 0 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 700;
}

li a:hover {
    color: black;
    border-bottom: 5px solid #08A6E4;
    padding: 20px 13px;
}

/*----------STYLING MAIN----------*/

/*---SECTION.BANNER---*/

section.banner {
    background-image: url("assets/Background.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    justify-content: center;
}

section.banner div.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-bottom: 450px;
}

h1.main__header {
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    font-weight: 400;
    margin: 10px;
}

p.slogan {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a.open__shop {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #08A6E4;
    border-radius: 35px;
    padding: 20px 150px;
    text-decoration: none;
    margin: 20px;
}
/*---SECTION.WHY-US---*/

section#why__us {
    display: flex;
    justify-content: center;
}

section#why__us div.container {
    box-sizing: border-box;
    padding: 90px 150px;
}

section h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

section#why__us h2 {
    text-align: center;
}

div.why__us {
    display: flex;
    justify-content: space-between;
}

div.column__why__us {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0 115px;
    margin-top: 90px;
}

div.dot {
    border-radius: 50%;
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
}

.person {
    background-color: #FB3B64;
}

.eye {
    background-color: #08A6E4;
}

.catalog {
    background-color: #55DFB4;
}

.img__why__us {
    position: relative;
    left: 20px;
}

div.why__us h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 3px;
    margin: 15px 0;
}

div.why__us p {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    text-align: center;
}

/*---SECTION.BENEFITS---*/

section#benefits {
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#benefits div.frame {
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    padding: 30px 50px;
}

section#benefits .frame:first-child{
    margin-top: 80px;
}

section#benefits .frame:last-child {
    margin-bottom: 80px;
    background-color: #F7F7F7;
    padding: 0;
}

#benefits article {
    max-width: 45%;
}

#benefits article.small {
    background-color: white;
    border-radius: 5px;
    padding: 30px 50px;
}

section#benefits h2 {
    padding-top: 90px;
    padding-bottom: 60px;
}

section#benefits p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 60px;
}

div.red__line {
    border: 3px solid #FB3B64;
    margin-bottom: 90px;
}

div.blue__line {
    border: 3px solid #08A6E4;
    margin-bottom: 90px;
}

div.mint__line {
    border: 3px solid #55DFB4;
    margin-bottom: 90px;
}

.red__line, .blue__line, .mint__line {
    WIDTH: 70%;
}

.back__diamond {
    background-color: #FB3B64;
    border-radius: 30px;
    transform: rotate(45deg);
    width: 250px;
    height: 250px;
    position: relative;
    right: 75px;
    top: 50px;
}

.back__diamond img {
    position: relative;
    transform: rotate(-45deg);
    right: 170px;
    top: 140px;
    width: 200%;
}

.back__circle {
    background-color: #08A6E4;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    position: relative;
    left: 20px;
}

.back__circle img {
    position: relative;
    width: 155%;
    left: 1px;
    top: 25px;
}

#benefits div.trumpet {
    background-color: #55DFB4;
    border-radius: 5px;
}

img.trumpet {
    height: 70%;
    position: relative;
    top: 130px;
    left: 25px;
}

/*---STYLING SECTION.PRICES---*/

section#prices {
    display: flex;
    justify-content: center;
}

section#prices div.box {
    box-sizing: border-box;
    padding: 70px;
}

section#prices h2 {
    text-align: center;
    margin-bottom: 35px;
}

div.pricing {
    display: flex;
    justify-content: space-between;
}

div.column__pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 15px;
    margin: 0 30px;
    padding: 30px 120px;
    padding-bottom: 0;
}

div.pricing div.blue {
    padding: 30px 130px 0 130px;
    box-shadow: 3px 14px 20px rgba(7,172,230,0.3)
}

div.pricing div.red, div.pricing div.mint {
    margin: 30px;
}

div.box div.red {
    border-color: #FB3B64;
}

div.box div.blue {
    border-color: #08A6E4;
}

div.box div.mint {
    border-color: #55DFB4;
}

section.prices h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 700;
}

div.price {
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    font-weight: 300;
    margin: 15px;
}
div.red div.price {
    color: #FB3B64;
}

div.blue div.price {
    color: #08A6E4;
}

div.mint div.price {
    color: #55DFB4;
}

section#prices p.small {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 50px;
}

section#prices div.blue p.small {
    margin-bottom: 70px;
}

section#prices p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 13px;
}

section#prices img {
    margin-right: 5px;
}

section#prices button {
    position: relative;
    top: 35px;
    border: none;
    border-radius: 40px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    padding: 25px 80px;
}

div.red button {
    background-color: #FB3B64;
}

div.pricing div.blue button {
    background-color: #08A6E4;
    top: 75px;
}

div.mint button {
    background-color: #55DFB4;
}

/*---STYLING SECTION.CONTACT---*/

section#contact {
    display: flex;
    justify-content: center;
}

#contact div.container {
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
    box-sizing: border-box;
}

div.questions, div.your__info {
    max-width: 50%;
}

div.questions h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    padding: 20px 0;
}

div.questions > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: black;
    padding-bottom: 25px;
}

div.contact__info {
    display: flex;
    align-items: center;
}

.questions p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #95989A;
    padding: 0 15px 0 10px;
}

div.contact__info img {
    position: relative;
    top: 10px;
}

div.your__info {
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    color: #08A6E4;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px 0;
}

form input.data {
    border: none;
    border-bottom: 1px solid #95989A;
    padding: 10px;
    width: 100%;
    height: 30px;
}

input[type=checkbox] { display:none; }

input.checkbox-custom + p:before {
    content: '';
    border: 1px solid #95989A;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

input.checkbox-custom:checked + p:before {
    content: url("assets/Checkmark.svg");
}

div.your__info p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
}

button.send {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: white;
    background-color: #08A6E4;
    border: none;
    border-radius: 40px;
    padding: 25px 90px;
}

/*-----STYLING FOOTER-----*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(149,152,154, .5);
    box-shadow: 0 3px 15px #95989A;
}

div.footer, div.icons {
    padding: 20px 160px;
}

div.footer h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: #08A6E4;
}

p.copywright {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #95989A;
}

div.icons img {
    height: 24px;
    width: 24px;
    padding: 0 5px;
}